*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
    overflow-y: auto;
}






/* Additional styles for menu, promotions, contact sections */
