.footer-menu {
    position: fixed;
    background: $color-principal;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

.footer-menu a{
    color: $color-secundario;
    text-decoration: none;
}

.button-container {
    display: flex;
    background-color: $color-principal;
    width: 95%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }